{% extends "layout.html" %}
{% block body %}


<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox-1.3.4.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-timepicker-addon.css') }}" /> 

    <div class="text-center">
         <form class="form-inline" action="/cert_query_task" method="post" id="queryForm">
            <label class="control-label"> <strong>用户名:</strong>
            <input type="text" class="input-small" name="username" value="{{ args.username }}">
            </label>
            <label class="control-label"> <strong>任务ID:</strong>
                <input class="input-large" type="text" name="task_id" value="{{ args.task_id }}">
            </label>
              <label class="control-label"> <strong>状态: </strong>
             <select name="status" class="input-medium">
                        <option>ALL</option>
                        <option value="FINISHED"
                        {% if args.status == "FINISHED" %}
                          selected="selected"
                         {% endif %}
                        >完成</option>
                        <option value="PROGRESS"
                          {% if args.status == "PROGRESS" %}
                          selected="selected"
                         {% endif %}
                        >执行中</option>
                        <option value="FAILED"
                          {% if args.status == "FAILED" %}
                          selected="selected"
                         {% endif %}
                        >失败</option>
                        <option value="INVALID"
                          {% if args.status == "INVALID" %}
                          selected="selected"
                         {% endif %}
                        >异常任务</option>
             </select>
	     <select id="query_type" class="input-medium" name="query_type">
                    <option value="normal_query" {% if args.query_type == "normal_query" %}selected="selected"{%endif%}>普通查找</option>
                    <option value="exact_query" {% if args.query_type == "exact_query" %}selected="selected"{%endif%}>精确查找</option>
	     </select>
            </label>
            <label class="control-label" id="normal_query"> <strong>日期:   </strong> <input type="text" id="datepickera" name="date"  readonly="true" value="{{ args.date }}"/>
            </label>
            <label class="control-label exact_query "> <strong>起始日期:   </strong> <input type="text" class="input-medium" id="datepickera_start" name="start_datetime"  readonly="true" value="{{ args.start_datetime }}"/>
            </label>
            <label class="control-label exact_query"> <strong>结束日期:   </strong> <input type="text" class="input-medium"  id="datepickera_end" name="end_datetime"  readonly="true" value="{{ args.end_datetime }}"/>
            </label>

            <button type="button" class="btn btn-primary " onclick="to_query()">查询</button>
            </form>
    </div>

        <div class="jumbotron">
              <table class="table table-striped">
                  <tr>
                      <th style="width: 100px;"><center>用户名</center></th>
                      <th style="width: 120px;"><center>状态</center></th>
                      <th style="width: 130px;" ><center>证书查询ID</center></th>
                      <th style="width: 130px;" ><center>证书名称</center></th>
                      <th style="width: 200px;" ><center>创建时间</center></th>
                      <th style="width: 200px;" ><center>下发结束时间</center></th>
                      <th style="width: 200px;" ><center>执行结束时间</center></th>
                      <th style="width: 100px;" ><center>下发耗时</center></th>
                      <th style="width: 100px;" ><center>执行耗时</center></th>
                      <th style="width: 100px;" ><center>分中央ack</center></th>
                      <th style="width: 200px;"><center>详细信息</center></th>
                      <th style="width: 200px;"><center>最终状态</center></th>
                      </tr>
                    {%for t in tasks %}
                    <tr>
                      <td><center>{{t.username}}</center> </td>
                      {% if t.status == "FINISHED" %}
                      <td><center>完成</center> </td>
                      {% elif t.status == "FAILED" %}
                      <td><center>失败</center> </td>
                      {% elif t.status == "PROGRESS" %}
                      <td><center>执行中</center> </td>
                      {% elif t.status == "INVALID" %}
                      <td><center>异常任务</center> </td>
                      {% endif %}
                      <td><center>{{t.q_id}}</center> </td>
                      <td><center>{{t.query_cert_name}}</center> </td>
                      <td><center>{{t.created_time}}</center> </td>
                      <td><center>{{t.finish_time}}</center> </td>
                      <td><center>{{t.hpc_finish_time}}</center> </td>
                      <td><center>{{t.hs}} </center> </td>
                      <td><center>{{t.hpc_hs}} </center> </td>
                      <td><center>
                          {% if t.retry_branch_id %} 
                            <a class="btn btn-info" href="/cert/retryBranchDevice/{{t.retry_branch_id}}" rel="device">分中心结果</a>
                          {% endif %}
                      </center> </td>

                      <td>
                        <center> 
                        {% if t.status != "INVALID" %}
                          <a class="btn btn-info" href="/device_cert_query_task/{{t.dev_id}}" rel="device">下发设备信息</a>
                        {% else %}
                            <p class="text-error"><strong>非法任务！</strong></p>
                        {% endif %}
                        </center>
			          </td>
		            <td>
                       <center>
                            {% if t.status != "INVALID" %}
                                <a  class="btn btn-info" href="/device_cert_query_task_res/{{t._id}}" rel="device">HPCC汇报结果</a>
                            {% else %}
                                <p class="text-error"><strong>非法任务！</strong></p>
                            {% endif %}
                        </center> 
                      </td>
                    </tr>
                    {% endfor %}
              </table>
        </div>


        {% if args.totalpage >1 %}
        <div class="pagination">
              <ul>
                  <li class="disabled"><a href="/cert_query_task">&laquo;</a></li>
                  {%for p in range(args.totalpage) %}
                  <li ><a href="javascript:submitFrom({{p}});" {% if args.curpage == p %} class="btn" {% endif %} >{{ p + 1 }}</a></li>
                 {% endfor %}
              </ul>
         </div>
         {% endif %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox-1.3.4.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script>

    <script type="text/javascript">


       function to_query(){
           $('#queryForm').attr('action', '/cert_query_task')
           $('#queryForm').submit()
       }

       $(document).ready(function(){
           $('#datepickera_start').datetimepicker({
	       timeFormat: "HH",
               dateFormat: "yy-mm-dd"
            })
           $('#datepickera_end').datetimepicker({
               timeFormat: "HH",
               dateFormat: "yy-mm-dd"
            });

	   {% if args.query_type == 'normal_query' %}
	       $('.exact_query').hide();
	       $('#normal_query').show();
	   {% else %}
	       $('#normal_query').hide();
	       $('.exact_query').show();
	   {% endif %}
              
           $('#query_type').change(function(){
	       var _type = $('#query_type').val()	
               if (_type == 'normal_query'){
		   $('.exact_query').hide();
		   $('#normal_query').show();
               }else{
		   $('#normal_query').hide();
		   $('.exact_query').show();
               }
          })
       }) 

       function submitFrom(curpage){
          var f = document.getElementById("queryForm");
          var input = document.createElement("input");
          input.setAttribute("type","hidden");
          input.setAttribute("value",curpage);
          input.setAttribute("name","curpage");
          f.appendChild(input);
          f.action = '/cert_query_task';
          f.submit();
        };

        $(function() {
          $( "#datepickera" ).datepicker();
          $( "#datepickera" ).datepicker( 'setDate' , new Date());
          {% if args.date: %}
            $( "#datepickera" ).val("{{args.date}}")
          {%endif%}
        });

        $(document).ready(function() {
        $("a[rel=device]").fancybox({
        'width': "768",
        'height': "1024",
        'autoScale': false,
        'centerOnScroll': false,
        'padding': 28,
        'margin': 48,
        'scrolling': "no",
        'overlayOpacity': 0.4,
        'overlayColor': "#979b8f",
        'transitionIn': "elastic",
        'transitionOut': "elastic",
        'enableEscapeButton': true,
        'showNavArrows':false
        });
        $("a[rel=retry]").fancybox({
        'width': "768",
        'height': "1024",
        'autoScale': false,
        'centerOnScroll': false,
        'padding': 28,
        'margin': 48,
        'scrolling': "no",
        'overlayOpacity': 0.4,
        'overlayColor': "#979b8f",
        'transitionIn': "elastic",
        'transitionOut': "elastic",
        'enableEscapeButton': true,
        'showNavArrows':false
        });

        $("a[rel=retryDevice]").fancybox({
        'width': "1024",
        'height': "1024",
        'autoScale': false,
        'centerOnScroll': false,
        'padding': 28,
        'margin': 48,
        'scrolling': "no",
        'overlayOpacity': 0.4,
        'overlayColor': "#979b8f",
        'transitionIn': "elastic",
        'transitionOut': "elastic",
        'enableEscapeButton': true,
        'showNavArrows':false
        });
      });
  </script>

{% endblock %}
