{% extends "layout.html" %}
{% block body %}


<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox-1.3.4.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-timepicker-addon.css') }}" /> 


    <div class="text-center">
         <form class="form-inline" action="/cert_query" method="post" id="queryForm">
            <label class="control-label"> <strong>用户名:</strong>
            <input type="text" class="input-small" name="username" value="{{ args.username }}">
            </label>
            <label class="control-label"> <strong>证书查询ID:</strong>
                <input class="input-large" type="text" name= "cert_query_id" value="{{ args.cert_query_id }}">
            </label>
            <label class="control-label"> <strong>证书名称:</strong>
                <input class="input-large" type="text" name="cert_name" value="{{ args.cert_name }}">
            </label>
            <label class="control-label"> <strong>频道:</strong>
                <input class="input-large" type="text" name="channel" value="{{ args.channel }}">
            </label>
            <button type="button" class="btn btn-primary " onclick="to_query()">查询</button>
            </form>
    </div>

        <div class="jumbotron">
			  <table class="table table-striped" style="table-layout:fixed;">
                  <tr>  
                      <th style="width: 100px;"><center>用户名</center></th>
                      <th style="width: 150px;" ><center>证书查询ID</center></th>
                      <th style="width: 180px;" ><center>证书名称</center></th>
                      <th style="width: 180px;" ><center>证书所在路径</center></th>
                      <th style="width: 180px;" ><center>配置所在路径</center></th>
                      <th style="width: 100px;" ><center>上传时间</center></th>
                      </tr>
                    {%for t in cert_query %}
                    <tr>
                      <td><center>{{t.username}}</center> </td>
                      <td><center>{{t._id}}</center> </td>
                      <td><center>{{t.cert_name}}</center> </td>
                      <td><center>{{t.path}}</center> </td>
                      <td><center>{{t.config_path}}</center> </td>

                      {% if t.created_time %}
                      <td><center>{{t.created_time}}</center> </td>
                      {% else %}
                      <td><center>暂无</center> </td>
                      {% endif %}

                    </tr>
                    {% endfor %}
              </table>
        </div>



        {% if args.totalpage >1 %}
        <div class="pagination">
              <ul>
                  <li class="disabled"><a href="/cert_query_task">&laquo;</a></li>
                  {%for p in range(args.totalpage) %}
                  <li ><a href="javascript:submitFrom({{p}});" {% if args.curpage == p %} class="btn" {% endif %} >{{ p + 1 }}</a></li>
                 {% endfor %}
              </ul>
         </div>
         {% endif %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox-1.3.4.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script>

    <script type="text/javascript">
       $('input[type=checkbox]').change(function(){
            $('#download_ids').val($('input[type=checkbox]:checked').map(function(){return this.value}).get().join(','))
        })

       function to_query(){
           $('#queryForm').attr('action', '/cert_query')
           $('#queryForm').submit()
       }

       function submitFrom(curpage){
          var f = document.getElementById("queryForm");
          var input = document.createElement("input");
          input.setAttribute("type","hidden");
          input.setAttribute("value",curpage);
          input.setAttribute("name","curpage");
          f.appendChild(input);
          f.action = '/cert_query';
          f.submit();
        };


        $(document).ready(function() {
        $("a[rel=device]").fancybox({
        'width': "768",
        'height': "1024",
        'autoScale': false,
        'centerOnScroll': false,
        'padding': 28,
        'margin': 48,
        'scrolling': "no",
        'overlayOpacity': 0.4,
        'overlayColor': "#979b8f",
        'transitionIn': "elastic",
        'transitionOut': "elastic",
        'enableEscapeButton': true,
        'showNavArrows':false
        });
        $("a[rel=retry]").fancybox({
        'width': "768",
        'height': "1024",
        'autoScale': false,
        'centerOnScroll': false,
        'padding': 28,
        'margin': 48,
        'scrolling': "no",
        'overlayOpacity': 0.4,
        'overlayColor': "#979b8f",
        'transitionIn': "elastic",
        'transitionOut': "elastic",
        'enableEscapeButton': true,
        'showNavArrows':false
        });

        $("a[rel=retryDevice]").fancybox({
        'width': "1024",
        'height': "1024",
        'autoScale': false,
        'centerOnScroll': false,
        'padding': 28,
        'margin': 48,
        'scrolling': "no",
        'overlayOpacity': 0.4,
        'overlayColor': "#979b8f",
        'transitionIn': "elastic",
        'transitionOut': "elastic",
        'enableEscapeButton': true,
        'showNavArrows':false
        });
      });
  </script>

{% endblock %}
