<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{% if session.get("user") %}
{% extends "layout.html" %}
{% block body %}
<html>
    <div class="text-center">
     <h3> {{ message }} </h3>
    </div>
</html>
{% endblock %}
{% else %}     
<script type="text/javascript"><!--
$(document).ready(function (){
    //location.href="https://sso.chinacache.com/queryByCookie?clientName=refreshlocal";
    location.href = "/login"
 });
</script>                 
{% endif%}
