{% extends "layout.html" %}
{% block body %}
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox-1.3.4.css') }}" media="screen" />
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-timepicker-addon.css') }}" />
    <div class="container">
         <form class="form-inline" action="/transfer_cert_portal_action" method="post" id="queryForm">
         <table class="table table-striped">
           <tr>
                <td><center><middle><strong style="line-height: 200px">转移证书名称:</strong></middle></center></td>
                <td colspan="2">
                    <textarea wrap="virtual"  rows="10" style="width:60%;height:100%;"  name="save_name" id="save_name"></textarea>
                    <div style="color:brown;width:30%;position: relative;float: right;top: 46px;right: 5%;">每行输入一个证书名! <br>例子：<br>2014-06-08-00-service.gz.10086.cn-2017-02<br>2019-12-20-00-static.zuiyouxi.com-2016-12<br>2018-12-20-00-www.baidu.com-2016-12<br><br><br>不带后缀!</div>
                </td>
           </tr>
		   <tr>
                <td><center><strong>转移时间:</strong></center></td>
                <td colspan="2"><input type="text" readonly="true" value="{{ args.timing }}"/></td>
		   </tr>
           <tr>
                <td><center><strong style="line-height: 20px">转移设备:</strong></center></td>
                <td>
                    <select name="dev_type" id="dev_type"  class="dev_select" style="width: 62%;">
                        <option value="define_dev"
                        {% if args.type == "define_dev" %}
                          selected="selected"
                         {% endif %}
                        >指定设备</option>
                        <option value="all_dev"
                          {% if args.status == "all_dev" %}
                          selected="selected"
                         {% endif %}
                        >所有设备</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><center><middle><strong style="line-height: 200px">设备名称:</strong></middle></center></td>
                <td colspan="2">
                    <textarea wrap="virtual"  rows="10" style="width:60%;height:100%;"  name="query_ip" id="query_ip"></textarea>
                    <div style="color:brown;width:30%;position: relative;float: right;top: 46px;right: 5%;">每行输入一个设备IP ! <br>例子：<br>223.202.203.31 <br>223.202.203.52<br>223.202.203.76</div>
                </td>
           </tr>
         </table>  
           <div class="row">
                <div class="span2"><center><button type ="button" class="btn expired_cert_transfer_submit">提  交</button></center></div>
           </div>    
        </form>
    </div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fancybox-1.3.4.pack.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script>
<script type="text/javascript">
    $('.dev_select').change(function(){
        if(this.value == 'all_dev'){
            $('textarea[name=query_ip]').attr('readonly', true);
        }else{
            $('textarea[name=query_ip]').attr('readonly', false);
        }
    })

    $('.expired_cert_transfer_submit').click(function(){
        var r = confirm("确定转移吗?")
        if (r){
            var f = $('form');
            var res = ckform(f);
            if (res == false)
                return;
            var f_data = f.serializeArray();
            var cert_data = {};
            $(f_data).each(function(){
                cert_data[this.name] = this.value;
            })
            console.log(cert_data);
            $.post('/transfer_cert_portal_action', cert_data, function(re){
                if (re == 200)
                    alert('\n'+'任务接收成功');
                else
                    alert('任务接收失败'+'\n'+'\n'+ re)
                console.log('rrrrrrrrrrrrrrrre');
                console.log(re);
            })
        }else{

        }
    })

    $(document).ready(function(){
        $('#cert_portal').datetimepicker({
                timeFormat: "HH:mm",
                 dateFormat: "yy-mm-dd"
                
            }); 
        {% if args.timing %}
            $( "#cert_portal" ).val("{{args.timing}}");
        {%endif%}
    });
    function ckform(obj){
        var cert_name=$('#save_name').val();
        if(cert_name=='' ||  $('#save_name').val().trim().length<1 ){
            alert('证书名不能为空');
            return false;
        }
        var query_ip=$('#query_ip').val();
        var dev_type=$('#dev_type').val();
        if((query_ip=='' || $('#query_ip').val().trim().length<1)&& dev_type=='define_dev'){
            alert('设备不能为空');
            return false;
        }

        return true
    }
    (function($) {
    $.extend({
        myTime: {
            /**
             * 当前时间戳
             * @return <int>        unix时间戳(秒)  
             */
            CurTime: function(){
                return Date.parse(new Date())/1000;
            },
            /**              
             * 日期 转换为 Unix时间戳
             * @param <string> 2014-01-01 20:20:20  日期格式              
             * @return <int>        unix时间戳(秒)              
             */
            DateToUnix: function(string) {
                var f = string.split(' ', 2);
                var d = (f[0] ? f[0] : '').split('-', 3);
                var t = (f[1] ? f[1] : '').split(':', 3);
                return (new Date(
                        parseInt(d[0], 10) || null,
                        (parseInt(d[1], 10) || 1) - 1,
                        parseInt(d[2], 10) || null,
                        parseInt(t[0], 10) || null,
                        parseInt(t[1], 10) || null,
                        parseInt(t[2], 10) || null
                        )).getTime() / 1000;
            }
        }
    });
})(jQuery);
</script>

{% endblock %}




